@font-face {
    font-family: "Raleway", sans-serif;
    src: url(/fonts/Raleway-Italic-VariableFont_wght.ttf);
}

body {
    margin:0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: relative;

}

/* Header ab hier */

#top_logo {
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.max-width {
    display:flex;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.2);
}

header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin-left: 160px;
    margin-right: 160px;
}

nav {
    font-weight: 700;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navlinks:hover {
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.content-contact {
    background-image:url(./img/salad-2068217_1920.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 80vh;
}


.contact_form {
    background-color: #FAF7F3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 15px;
    font-size: 16px;
    margin-right: 160px;
    margin-left: 160px;
    max-width: 1440px;
}


.contact_content {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.upper_input {
    width: 200px;
    height: 25px;
    border-radius: 8px;
    border-style: solid;
    padding-left: 10px;
}

.upper_input:focus {
    outline: solid 2px #008000;
}

.lower_input {
    width: 200px;
    height: 120px;
    border-radius: 8px;
    border-style: solid;
    padding-left: 10px;
}

.lower_input:focus {
    outline: solid 2px #008000;
}

h1 {
    font-weight: 500;
}

.input_button {
    background-color:#008000;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border-style: none;
    font-weight: 500;
    width: 218px;
    text-align: center;
}



.footer_max_width {
    display: flex;
    justify-content: center;
    background-color: #403B3B;
}

footer {
    background-color: #403B3B;
    max-width: 1440px;
    width: 100%;
    height: 250px;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 160px;
    margin-right: 160px;
}

#logo_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerlogo {
    height: 100px;
}

#slogan {
    padding-right: 40px;
    font-size: 16px;
}

#slogan_socials {
    margin: 20px;
}

#social_logos {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#footer_socials img {
    width: auto;
    height: 35px;
    object-fit: cover;
}


.seperator_footer {
    background-color: #efefef27 ;
    width: 1px;
    height: 50%;
}

#footer_socials {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

#req_links {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
}

#req_links a {
    color:white;
    font-weight: 400;
}


.sent {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burgermenu {
    display: none;
    border-style: solid;
    border-color: rgb(143, 140, 140);
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.linien{
    display: flex;
    flex-direction: column;
}

hr {
    width:10px;
    text-align: center;
    margin: 1px;
}

.burgerbutton {
    background-color: white;
}

.burgerbutton:hover {
    background-color: rgb(202, 199, 199);
    color: white;
}

.burgerdropdown {
    background-color: white;
    border-style: solid;
    border-top: 0;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 116px;
    right: 160px;
    transition: all 125ms ease;
    border-radius: 5px;
}

.burgerdropdown_closed {
    transform: translatex(200%);
}

.burgerlink {
    padding-left: 5px;
    border-radius: 5px;
}

.burgerlink:hover {
    color: white;
    background-color: #008000;
    background-blend-mode:hue ;
}

@media(max-width:1114px) {

    #nav_none {
        display: none;
    }


    header {
        justify-content: space-between;
        align-items: center;
    }

    .burgermenu {
        display: block;
    }
}

@media(max-width:1030px) {

    footer {
        margin-left: 50px;
        margin-right: 50px; 
    }

    header {
        margin-left: 50px;
        margin-right: 50px;
    }

    .contact_form {
    margin-right: 50px;
    margin-left: 50px;
    }
}

@media(max-width:850px) {
    
    .display_none_850 {
        display: none;
    }

    #recipe_all_img {
        flex-direction: column;
        gap: 40px
        
    }

    h1 {
        font-size: 20px;
    }

}

@media(max-width:750px) {

    .seperator {
        margin-top: 40px;
    }

    #req_links {
        padding-left: 0;
    }

    .burgerdropdown {
        right: 50px;
    }
}

@media(max-width:650px) {

    footer {
        flex-direction: column;
    }

    .seperator_footer {
        display: none;
    }

    #footer_socials {
        padding-left: 53px;
    }

    #req_links {
        margin-bottom: 25px;
    }

    .footerlogo {
        margin-top: 25px;
    }
}

@media(max-width:530px) {
    .amount-portions {
        width: auto;
    }
}

@media(max-width:500px) {
    body {
        font-size: 16px;
    }

    .button {
        font-size: 16px;
    }

    .receipt_attributes {
        flex-direction: column;
        justify-content: center;
    }

    .profil {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .display_none_500 {
        display: none;
    }

    header {
        margin-left: 15px;
        margin-right: 15px;
    }

    main {
        padding-left: 15px;
        padding-right: 15px;    
    }

    .contact_form {
    margin-right: 15px;
    margin-left: 15px;
    }

    .burgerdropdown {
        right: 15px;
    }
}