@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body{
    margin:0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
     }
    
   #top_logo {
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 160px;
}

nav {
    font-weight: 700;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navlinks:hover {
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
    
    main{
        padding-left: 160px;
        padding-right: 160px;
    }
    h1{
        font-size: 28px;
        margin-block-start: 86px;
    }
    .pita{
       display: flex;
       justify-content: center;
       align-items: center;
       object-fit: cover;
       overflow: hidden;
       border-radius: 12px;
       width: 100%;
       height: 300px;

        
    }
    .knowhow{
        display: flex;
        justify-content:flex-start;
        gap: 16px;
        padding-top: 32px;
 }
 .knowhow2{
    display: flex;
        justify-content:flex-start;
        gap: 16px;
        padding-top: 32px;
 }
 .bilders{
    width: 16px;
    height: 16px;
 }
 .info{
    background-color:#efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 6px;
    gap: 6px;
 }
 .seperator{
    background-color: #efefef;
    width: 100%;
    height: 2px;
    margin-top: 80px;
    margin-bottom: 16px;
 }
 .menge{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 410px;
    padding-bottom: 15px;
 }
 #zutaten{
    padding-right: 8px;;
 }
 #amount{
    padding: 10px;
    font-size: 12px;
    border-color: rgb(65, 62, 62, 0.2);
    border-style: solid;
    border-right: 4px;
    flex: 1;
 }
 .button{
    background-color:#377e22;
    padding: 12px;
    border-width: 0;
    color: white;
    font-size: 12px;
 }
 
 tr:nth-child(odd){
    background-color: #efefef;
    
 }
 td{
    
    padding: 20px;
    border-radius: 10px;
   
 }
 .tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
 }
   table{
    width: 100%;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    
   }
 .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    gap: 60px;
    margin-top: 26px;
    margin-bottom: 160px;
 }
 .profilebild{
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
 }
 footer{
    background-color: #403B3B;
    height: 250px;
    margin:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-bottom: 50px;
    padding-left: 160px;
    padding-right: 160px;

 }
 